## Q1. What is a database? Differentiate between SQL and NoSQL databases.

`Answer`

A database is an organized collection of structured data that can be accessed, managed, and updated electronically. It is used to store information that can be easily retrieved and processed by computer programs or users.

SQL and NoSQL databases are two different types of database management systems (DBMS) that use different approaches to store and retrieve data. SQL (Structured Query Language) databases are relational databases that use tables to organize data and provide a predefined schema for storing data. These databases use SQL, a standardized language, to manipulate and query data. Some examples of SQL databases include MySQL, PostgreSQL, and Oracle.

On the other hand, NoSQL (Not Only SQL) databases are non-relational databases that use flexible schemas to store data. They do not use tables like SQL databases, and instead, use document-oriented, key-value, graph, or column-oriented data models to organize data. NoSQL databases are highly scalable, can handle large amounts of unstructured data, and can operate on multiple servers. Some examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, SQL databases are best suited for structured data that requires a predefined schema, while NoSQL databases are more suitable for unstructured or semi-structured data that requires more flexibility and scalability. The choice between SQL and NoSQL databases depends on the specific use case and requirements of the application.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

`Answer`

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define and manipulate the structure of database objects like tables, indexes, views, and so on.

Here's a brief explanation of some of the commonly used DDL statements and how they can be used with the mysql.connector module in Python:

1. CREATE: The CREATE statement is used to create new database objects like tables, views, indexes, and so on. Here's an example of creating a new table using the mysql.connector module in Python:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

This code will create a new table called customers with three columns: id, name, and address. The id column is an auto-incrementing primary key, which means that each new row added to the table will have a unique identifier.

2. DROP: The DROP statement is used to delete existing database objects like tables, views, and indexes. Here's an example of dropping a table using the mysql.connector module in Python:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("DROP TABLE customers")

This code will drop the customers table from the database.

3. ALTER: The ALTER statement is used to modify the structure of existing database objects like tables. Here's an example of adding a new column to a table using the mysql.connector module in Python:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN email VARCHAR(255)")

This code will add a new column called email to the customers table.

4. TRUNCATE: The TRUNCATE statement is used to delete all rows from a table without deleting the table structure itself. Here's an example of truncating a table using the mysql.connector module in Python:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("TRUNCATE TABLE customers")

This code will delete all rows from the customers table, but leave the table structure intact.

It's important to note that DDL statements like CREATE, DROP, ALTER, and TRUNCATE can have significant effects on your database, so be sure to use them carefully and with caution.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

`Answer`

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data within a database. DML consists of three main statements: INSERT, UPDATE, and DELETE.

Here's a brief explanation of each of these DML statements and how they can be used with an example:

1. INSERT: The INSERT statement is used to add new data to a table. Here's an example of inserting a new record into a table using SQL:

In [ ]:
INSERT INTO employees (first_name, last_name, email)
VALUES ('John', 'Doe', 'johndoe@example.com');

This SQL statement inserts a new employee record into the employees table, with the first_name, last_name, and email values specified.

Using the mysql.connector module in Python, you could write the following code to insert a new record:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO employees (first_name, last_name, email) VALUES (%s, %s, %s)"
val = ("John", "Doe", "johndoe@example.com")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

This Python code does the same thing as the previous SQL statement: it inserts a new employee record into the employees table with the specified values.

2. UPDATE: The UPDATE statement is used to modify existing data in a table. Here's an example of updating a record in a table using SQL:

In [ ]:
UPDATE employees
SET email = 'jdoe@example.com'
WHERE id = 1;

This SQL statement updates the email address of the employee with an id of 1 in the employees table.

Using the mysql.connector module in Python, you could write the following code to update a record:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE employees SET email = %s WHERE id = %s"
val = ("jdoe@example.com", 1)

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected.")

This Python code does the same thing as the previous SQL statement: it updates the email address of the employee with an id of 1 in the employees table.

3. DELETE: The DELETE statement is used to remove data from a table. Here's an example of deleting a record from a table using SQL:

In [ ]:
DELETE FROM employees
WHERE id = 1;

This SQL statement deletes the employee record with an id of 1 from the employees table.

Using the mysql.connector module in Python, you could write the following code to delete a record:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM employees WHERE id = %s"
val = (1, )

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted.")

## Q4. What is DQL? Explain SELECT with an example.

`Answer`

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL consists of only one statement: SELECT.

Here's an explanation of the SELECT statement and how it can be used with an example:

1. SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. Here's an example of selecting data from a table using SQL:

In [ ]:
SELECT * FROM employees;

This SQL statement retrieves all columns and all rows from the employees table.

bUsing the mysql.connector module in Python, you could write the following code to select data from a table:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM employees")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

This Python code does the same thing as the previous SQL statement: it retrieves all columns and all rows from the employees table.

You can also specify which columns to select by replacing the * with a comma-separated list of column names:

In [ ]:
SELECT first_name, last_name FROM employees;

This SQL statement retrieves only the first_name and last_name columns from the employees table.

Using the mysql.connector module in Python, you could write the following code to select specific columns from a table:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT first_name, last_name FROM employees")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

## Q5. Explain Primary Key and Foreign Key.

`Answer`

`Primary Key:`
A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It is used to enforce data integrity by ensuring that each row in the table is uniquely identifiable. A primary key cannot contain null values and must be unique for each row. A table can have only one primary key.

`Foreign Key:`
A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to enforce referential integrity by ensuring that a row in one table can only reference a row in another table if that row exists. In other words, a foreign key establishes a link between two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the results
myresult = mycursor.fetchall()

# print the results
for row in myresult:
  print(row)

In this code, we first establish a connection to the MySQL server using the `connect()` method of the mysql.connector module. We provide the necessary connection details such as the host, user, password, and database.

Next, we create a cursor object using the `cursor()` method of the connection object. A cursor is a temporary work area created on the database server that enables you to manipulate and retrieve the data from the database.

Then, we execute a SQL query using the `execute()` method of the cursor object. The `execute()` method takes an SQL query as a parameter and sends it to the MySQL server for execution.

After executing the SQL query, we fetch the results using the `fetchall()` method of the cursor object. The `fetchall()` method returns all the rows from the query result set.

Finally, we loop through the results and print each row.

So, `the cursor()` method creates a cursor object that allows you to execute SQL queries and fetch the results. The `execute()` method executes the SQL query passed as a parameter to the cursor object.

## Q7. Give the order of execution of SQL clauses in an SQL query.

`Answer`



The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause: specifies the table(s) from which to retrieve the data.
2. WHERE clause: filters the rows based on a condition.
3. GROUP BY clause: groups the rows based on one or more columns.
4. HAVING clause: filters the groups based on a condition.
5. SELECT clause: specifies the columns to retrieve.
6. ORDER BY clause: sorts the rows based on one or more columns.
7. LIMIT/OFFSET clause: limits the number of rows to retrieve or skips a certain number of rows.

It is important to note that not all clauses are required in every SQL query, and the order of the clauses can vary based on the specific requirements of the query. However, the general order of execution is typically the same as listed above.