## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

In [6]:
data = [4,8,15,16,23,24]
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    24
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ser2 = pd.Series(my_list)
print(ser2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

 `Name`    `age`       `Gender`
 
  alice . . .    25  .   .   . female
  
  bob . . .    30  .   .   . male
  
  Claire . . .    27  .   .   . female
  
### Then, print the DataFrame.

In [26]:
data2 = {
    'Name':['alice', 'bob', 'claire'],
    'Age':[25,30,27],
    'Gender':['Female', 'Mae', 'Female']
}

df = pd.DataFrame(data2)
print(df)

     Name  Age  Gender
0   alice   25  Female
1     bob   30     Mae
2  claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

`Answer`

In Pandas, a DataFrame is a two-dimensional labeled data structure that represents a tabular data object. It is similar to a table in a relational database or a spreadsheet in Excel. A DataFrame consists of rows and columns, where each column can contain different data types (e.g., integers, floats, strings). It is a highly versatile data structure that provides functionalities for data manipulation, analysis, and cleaning.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a DataFrame or a single column from a spreadsheet. Each element in a Series has a unique label called an index. Series can contain homogeneous data types, such as integers or strings.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [29]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we create a DataFrame df by passing a Python dictionary data to the pd.DataFrame() function. The dictionary contains three key-value pairs, where each key represents a column name and the corresponding value represents the data for that column. The DataFrame has three columns ('Name', 'Age', 'Gender') and three rows.

Now, let's create a Series using one of the columns from the DataFrame:

In [28]:
series = df['Age']
print(series)

0    25
1    30
2    27
Name: Age, dtype: int64

a DataFrame is a two-dimensional tabular data structure with labeled columns, while a Series is a one-dimensional labeled array representing a single column from a DataFrame.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

`Answer`

1. `head()` and `tail()`: These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the data.

2. `info()`: This function provides a summary of the DataFrame, including the column names, data types, and non-null values. It helps to understand the structure and composition of the data.

3. `describe()`: This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles, for each numerical column. It provides a summary of the distribution of the data.

4. `unique(), nunique(), and value_counts()`: These functions are used to explore unique values and their counts within a column. unique() returns an array of unique values, nunique() returns the number of unique values, and value_counts() returns a count of each unique value.

5. `sort_values()`: This function sorts the DataFrame by one or more columns. It is useful for ordering the data based on specific criteria, such as sorting by a numerical column or sorting alphabetically by a string column.

6. `groupby()`: This function is used for grouping the data based on one or more columns. It allows you to perform aggregate functions on specific groups, such as calculating the sum, mean, or count of a particular column within each group.

7. `drop()`: This function is used to remove columns or rows from the DataFrame. It allows you to drop unwanted data that is not relevant for your analysis.

8. `fillna()`: This function is used to fill missing or NaN (null) values in the DataFrame with a specified value or a calculated value, such as the mean or median of the column.

9. `apply()`: This function applies a custom function to each element or column in the DataFrame. It is useful for performing element-wise operations or transforming data based on specific logic.

In [30]:
data = {'Product': ['A', 'B', 'C'],
        'Price': [10.99, 5.99, 7.5],
        'Quantity': [20, 15, 30]}

df = pd.DataFrame(data)

def calculate_revenue(row):
    return row['Price'] * row['Quantity']

df['Revenue'] = df.apply(calculate_revenue, axis=1)
print(df)

  Product  Price  Quantity  Revenue
0       A  10.99        20   219.80
1       B   5.99        15    89.85
2       C   7.50        30   225.00

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

`Answer`

1. `Mutable`: DataFrame, Panel
2. `Immutable`: Series

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [31]:
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['female', 'male', 'female'])

# Creating DataFrame using Series
data = {'Name': name, 'Age': age, 'Gender': gender}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female